.profile-card-wrapper
  background: #FFFFFF
  border: 1px solid rgba(62, 80, 114, 0.16)
  box-sizing: border-box
  border-radius: 20px
  width: 384px
  height: 392px
  position: absolute

  .information-profile-wrapper
    display: flex
    padding: 32px

    img
      width: 128px
      height: 128px
      flex: none
      order: 0
      flex-grow: 0
      margin: 24px 0px

    .information-about-user
      margin: 16px 0px
      text-align: center

      h3
        font-weight: 600
        font-size: 24px
        line-height: 28px
        margin: 16px 0px
        color: rgba(0, 11, 38, 0.88)

      h4
        color: rgba(0, 11, 38, 0.72)
        font-weight: 400
        font-size: 16px
        line-height: 20px
        margin: 12px 0px

      p
        font-weight: 400
        font-size: 16px
        line-height: 20px
        color: rgba(0, 11, 38, 0.72)
        order: 1
        margin: 12px 0px