.input-wrapper
  background: #FFFFFF
  box-shadow: 0px 2px 8px rgba(21, 45, 103, 0.12)
  border-radius: 8px
  display: flex
  align-items: center
  width: 600px

  .large-input
    border: 0px
    margin: 0px
    padding: 14px 20px 14px 12px
    height: 20px


  .icon
    padding: 16px 0px 16px 20px