.promocode-card-wrapper
  width: 768px
  display: flex

  margin: 24px 0px 24px 0px

  .cost-wrapper
    border-radius: 12px
    width: 180px
    height: 110px
    background: linear-gradient(149.1deg, #00D5C7 0%, #FFEE57 117.79%)

    h3
      font-weight: 700
      font-size: 32px
      line-height: 40px
      color: #FFFFFF
      text-align: center

  .promocode-information-wrapper
    text-align: left
    font-size: 14px
    line-height: 18px
    margin-left: 24px

    p
      font-weight: 500
      color: rgba(0, 11, 38, 0.4)
      padding: 0px

    h4
      color: rgba(0, 11, 38, 0.88)
      font-weight: 400
      margin: 4px 0px 16px

    h5
      color: #07C88E
      font-weight: 400
      margin-top: 4px
      margin-bottom: 0px

@media screen and (max-width: 375px)
  .promocode-card-wrapper
    width: 343px
    display: block

    .cost-wrapper
      width: 100%
      align-items: center
      height: 210px

      h3
        padding-top: 85px

    .promocode-information-wrapper
      margin-top: 24px
      margin-left: 0px

